/* Reset style*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	text-decoration: none;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input:focus,
button:focus {
	outline: none !important;
}

/*End reset style*/
@mixin quicksand_font() {
	font-family: "Quicksand", sans-serif;
}
body {
	@include quicksand_font();
	font-weight: 700;
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
}

.top-header {
	background: url(../img/bg.jpg) no-repeat;
	color: #fff;
	height: 790px;

	.top-header__header {
		height: 80px;
		display: flex;
		align-items: center;

		.top-header__logo {
			align-items: center;
			margin-top: 40px;
			margin-left: 64px;

			img {
				display: block;
			}
		}

		.top-header__menu {
			width: 100%;
			display: flex;
			justify-content: flex-end;

			ul {
				display: flex;

				li {
					a.top-header__navigation {
						display: inline-block;
						margin-top: 54px;
						margin-left: 53px;
						color: #fff;
						font-size: 18px;
					}
				}
			}
		}

		i.fa-shopping-cart {
			box-sizing: border-box;
			margin-top: 50px;
			margin-right: 67px;
			margin-left: 54px;
			color: #fff;
			font-size: 18px;
		}
	}

	.top-header__text {
		align-items: center;
		box-sizing: border-box;
		text-align: center;

		.top-header__heading {
			margin-top: 230px;
			font-size: 60px;
		}

		p.top-header__description {
			margin: 0 25%;
			width: 586px;
			@include quicksand_font();
			font-weight: 300;
			font-size: 23px;
			text-align: center;
			margin-top: 14px;
		}
	}

	i.fa-chevron-down {
		color: #fff;
		display: block;
		margin-top: 256px;
		text-align: center;
		font-size: 34px;
	}
}
.sort__block {
	display: flex;
	height: 143px;
	width: 100%;
	text-transform: uppercase;
	background-color: #f5f6f7;
	align-items: center;
	.sort__form {
		margin-left: 139px;
		.sort__check {
			position: absolute;
			z-index: -1;
			opacity: 0;
		}
		.sort__check + label {
			position: relative;
			margin-right: 84px;
			cursor: pointer;
		}
		.sort__check + label:before {
			content: "";
			position: absolute;
			width: 21px;
			height: 21px;
			border-radius: 3px;
			background: #fff;
			border: 2px solid #cccccc;
			top: 0px;
			left: -43px;
		}
		.sort__check + label:after {
			content: "";
			position: absolute;
			top: 4px;
			left: -38px;
			width: 15px;
			height: 15px;
			background: #fff;
		}
		.sort__check:checked + label:before {
			background: #fff;
			border: 2px solid #aa9b77;
		}
		.sort__check:checked + label:after {
			content: "";
			background-image: url(/img/check.svg);
			background-position: center;
		}
	}

	label {
		color: #333333;
		font-size: 18px;
		cursor: pointer;
	}
	.sort__button {
		display: block;
		margin-left: 396px;
		box-sizing: border-box;
		width: 204px;
		height: 52px;
		border: 1px solid #aa9b77;
		background-color: #aa9b77;
		border-radius: 3px;
		color: #fff;
		text-align: center;
		font-size: 14px;
		padding-top: 17px;
	}
}
.gallery1 {
	.gallery1__head {
		display: flex;
		flex-direction: row;
		margin: 85px 98px 50px 98px;
		text-transform: uppercase;
		font-size: 20px;
		color: #424242;
		.gallery1__border {
			margin-left: 52px;
			align-self: center;
			width: 996px;
			height: 2px;
			background-color: #cccccc;
		}
	}
	.gallery1__page {
		font-size: 16px;
		line-height: 1.2;
		float: right;
		margin-right: 100px;
		color: #aa9b77;

		i {
			margin-right: 8px;
			cursor: pointer;
		}
	}
	.gallery2__head {
		display: flex;
		flex-direction: row;
		margin: 85px 98px 50px 98px;
		text-transform: uppercase;
		font-size: 20px;
		color: #424242;
		.gallery2__border {
			margin-right: 8px;
			align-self: center;
			width: 996px;
			height: 2px;
			background-color: #cccccc;
		}
	}
	.gallery2__page {
		font-size: 16px;
		line-height: 1.2;
		float: left;
		margin-left: 100px;
		color: #aa9b77;

		i {
			margin-right: 8px;
			cursor: pointer;
		}
	}
	.clear {
		clear: both;
	}

	.gallery1__items {
		width: inherit;
		margin: 0 96px;
		display: flex;
		margin-top: 17px;
		justify-content: space-between;

		.gallery1__item {
			display: flex;
			flex-direction: column;
			border: 6px solid rgba(170, 155, 119, 0);
			border-radius: 3px;
			width: 320px;
			height: 378px;
			background-color: #f5f6f7;
			cursor: pointer;
		}
		.gallery1__item:hover {
			display: flex;
			flex-direction: column;
			border: 6px solid #aa9b77;
			border-radius: 3px;
			width: 320px;
			height: 378px;
			background-color: #f5f6f7;
		}
		.gallery1__up {
			align-items: center;
			display: flex;
			justify-content: space-between;
			margin: 25px 25px 0 25px;
			.gallery1__size {
				font-size: 16px;
				text-transform: uppercase;
				color: #424242;
				i.fa-chevron-down {
					font-size: 12px;
					cursor: pointer;
				}
			}
			.gallery1__color {
				svg {
					cursor: pointer;
				}
			}
		}
		.gallery1__image {
			align-self: center;
			margin: auto;
		}
		.gallery1__down {
			align-items: flex-end;
			display: flex;
			margin: 0 25px 25px 25px;
			justify-content: space-between;

			.gallery1__name {
				font-size: 18px;
				text-transform: uppercase;
				color: #aa9b77;
			}
			.gallery1__cost {
				font-size: 22px;
				text-transform: uppercase;
				color: #424242;
			}
		}
	}
}
.about {
	width: 1280px;
	height: 402px;
	background-color: #aa9b77;
	margin-top: 131px;

}
